/*recette*/

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.marginright {
    margin-right: 20px;
}



/*class de flexbox*/
.container-1000 {
    max-width: 1000px;

    margin-left: auto;
    margin: auto;
    width: 100%;

}

.flex {
    display: flex;
}

.flex2 {
    display: flex;
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.reverse {
    flex-direction: row-reverse;
}

.justify-between {
    justify-content: space-between;
}

.space-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.txtalign {
    text-align: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.alternate>div:nth-child(2n) {
    flex-direction: row-reverse;
}

.gap {
    gap: var(--gap);
}

.gap12 {
    gap: 12px;
}

.gap20 {
    gap: 20px;
}

/*class de largeur*/
.w40 {
    width: 40%;
}

.w10 {
    width: 10;
}

.w60 {
    width: 60%;
}

.w100 {
    width: 100%;
}

.w {
    width: 100px;
}

.w48 {
    width: 48%;
}

.w40 {
    width: 40%;
}

.w50 {
    width: 50%;
}

.w33 {
    width: 33px;
}

.w22 {
    width: 22%;
}

.w25 {
    width: 25%;
}

.w68 {
    width: 68%;
}

.w70 {
    width: 70%;
}

.w75 {
    width: 75%;
}

.w80 {
    width: 80%;
}

.w90{
    width: 90%;
}
.space-between {
    justify-content: space-between;



}

.space-around {
    justify-content: space-around;

}

.margin-top {
    margin-top: 80px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom {
    margin-bottom: 20px;
}

.align-center {
    align-items: center;
}

.font-size {
    font-size: 14px;
}



/*Styliser du texte*/
h1,
h2,
h3,
h4,
h5,
h6{
    
  font-family: "Baloo Bhai 2", sans-serif;
}

p, a {
    font-family: "Inter", sans-serif;
}
.align-center {
    align-items: center;
}

h1 {
    font-size: 38px;
}

.texte-blanc {
    color: white;
}

h2 {
    font-size: 32px;
    margin-bottom: 50px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

p {
    line-height: 1.5;
    margin-bottom: 1px;
    font-size: 14px;
    
}

a {
    color: var(--premier-plan);
    text-decoration: none;
}

.text-center {
    text-align: center;
}

/*margin au padding*/
.mt {
    margin-top: 64px;
}

.mt {
    margin-top: 32px;
}

.mt {
    margin-top: 16px;
}

.mt {
    margin-top: 100px;
}

.mb {
    margin-bottom: 64px;
}

.m-auto {
    margin-left: auto;
    margin-right: auto;
}

.p-16 {
    padding: 16px;
}

.ptb-32 {
    padding: 32px 0;
}



/*header*/
header {
    background-color: #FFF9EA;
    padding: 8px 64px;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 999;
    width: 100%;
}

.logo {
    width: 160px;
}

header nav {
    display: flex;
    gap: 16px;
}

header nav a {
    color: var(--premier-plan);
    transition: color .33s ease;
}

header a:hover,
a:hover,
a:hover>i {
    color: var(--hover)
}

/*section hero*/
.hero {
    background-image: url(asset/Hero\ \(1\).svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    
}

.image {
    background-image: url(asset/image\ femme\ cuisine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
}

/*carte*/

.certeMeilleurAappli {

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.215);
    border-radius: 20px;
    padding: 20px 10px 20px 20px;
    width: 25%;
    object-fit: cover;
    border: 3px solid;
    background-color: #F6DEB8;



}


.cart {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.215);
    border-radius: 20px;
    padding: 20px;
    width: 40%;
    object-fit: cover;
    border: 3px solid;
    background-color: #E97963;
}


.car {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.215);
    border-radius: 20px;
    padding: 20px;
    width: 10%;
    margin-bottom: auto;
    margin-top: auto;
    object-fit: cover;
    border: 3px solid;
    background-color: #E97963;
    
}

.divtitretxt {
    padding: px;
    width: 50px;
    margin-bottom: auto;
    margin-top: auto;
    object-fit: cover;

    border-radius: 25px;
    color: white;
}

.divtitretxt {
    padding: 25px;
    width: 90%;
    margin-bottom: auto;
    margin-top: auto;
    object-fit: cover;

    border-radius: 25px;
}

.trai {
    width: 100px;
    height: 4px;
    background-color: black;

}

.round {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: black;


}

.traitlegend {
    display: flex;
    align-items: center;

}


.bg-jaune-pale{
    background-color: #F6DEB8;
}

.bg-orange {
    background-color: #E97963;
}

.bg-beige {
    background-color: #FFF9EA;
}

.bg-yelow {
    background-color: rgba(254, 224, 149, 1);
}

.spanchifre {
    background-color: #E97963;
    color: white;
    margin-right: 5px;
    padding: 6px;
    border-radius: 10px;

}

.spanboite {
    margin-right: 15px;
}


.cartesuivernous {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.215);
    border-radius: 20px;
    padding: 25px;
    width: 20%;
    margin-bottom: auto;
    margin-top: auto;
    object-fit: cover;
    border: 3px solid black
}

.cartetitrebutton {

    border-radius: 20px;
    padding: 25px;
    width: 30%;
    margin-bottom: auto;
    margin-top: auto;
    object-fit: cover;



}

.img {
    width: 33%;
    border-radius: 10px;
}

.liste-puce {
    list-style-type: none;
}

/*fotter*/

.btn {
    background-color: #E97963;
    color: white;
    padding: 5px 15px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    border-radius: 10px;

}

footer {
    background-color: rgb(173, 132, 88);
    width: 100%;


    padding: 5px 15px;


    margin-top: 100px;

}



.bg-color {
    background-color: #F6DEB8;
}



/*boutons appstore*/

.playstore-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    border-radius: 9999px;
    background-color: rgba(0, 0, 0, 1);
    padding: 0.625rem 1.5rem;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    outline: 0;
    transition: all 0.2s ease;
    text-decoration: none;
}

.playstore-button:hover {
    background-color: transparent;
    color: rgba(0, 0, 0, 1);
}

.icon {
    height: 1.5rem;
    width: 1.5rem;
}

.texts {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1;
}

.text-1 {
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
    line-height: 1rem;
}

.text-2 {
    font-weight: 600;
}



/*bouttons playstore*/

.playstore-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    border-radius: 9999px;
    background-color: rgba(0, 0, 0, 1);
    padding: 0.625rem 1.5rem;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    outline: 0;
    transition: all .2s ease;
    text-decoration: none;
}

.playstore-button:hover {
    background-color: transparent;
    color: rgba(0, 0, 0, 1);
}

.icon {
    height: 1.5rem;
    width: 1.5rem;
}

.texts {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1;
}

.text-1 {
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
    line-height: 1rem;
}

.text-2 {
    font-weight: 600;
}

.bg-sommaire{
    background-color: #F1745B;
}








section {
    padding: 90px 0;
}

.section-padding-top-only {
    padding: 90px 0px 0px 0px;
}